@import "../style.css";

main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(240, 240, 240);

    padding: 50px 0 50px 0;
    width: 80%;
    border-radius: 30px;
    margin-top: 10% 
}

.form-container h2 {
  font-size: 40px;
  margin-bottom: 2.5%;
  text-shadow: 1px 1px 14px rgb(155, 155, 155);
}

#searchForm {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin-top: 2%;
  color: rgb(240, 240, 240);
}

#typeSelector,
#muscleSelector,
#difficultySelector,
#daySelector {
    font-size: 16px;
    width: 200px;
    height: 30px;
    border-radius: 10px;

    box-shadow: 1px 1px 10px black;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 8px black;
}


#typeSelector {
  background-color: rgb(137, 137, 219);
}

#muscleSelector {
  background-color: rgb(185, 185, 127);
}

#difficultySelector {
  background-color: rgb(206, 172, 109);
}

#daySelector {
  background-color: rgb(214, 136, 136);
}

#searchBtn {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: 600;
  padding: 10px 30px 10px 30px;
  background-color: rgb(52, 211, 137);
  border-radius: 15px;
  box-shadow: 2px 2px 12px black;
}

#searchBtn:hover {
    background-color: rgb(0, 146, 78);
    transform: scale(1.05);
}

#exerciseResults {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

.exercise-card {
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 20px;
  margin: 20px 20px;
  background-color: rgb(240, 240, 240);
  box-shadow: 2px 2px 12px rgb(94, 93, 93);
  width: 350px;
  height: 300px;

  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.exercise-card p {
  margin-top: 1%;
}

.exercise-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transform: scale(1.02);
  transition: transform 0.2s ease;
}

.exercise-icon img {
  width: 20px;
  height: auto;
}

.add-btn {
  margin-top: 3%;
  background-color: rgb(52, 211, 137);
  padding: 8px;
  border-radius: 12px;
  color: white;
  width: 40%;
  align-self: center;
}

.add-btn:hover {
  background-color: rgb(0, 146, 78);
  transform: scale(1.1);
}

.no-result {
    color: white;
}

.openModal {
  color: white;
  background-color: rgb(102, 102, 212);
  width: 100px;
  align-self: center;
  padding: 5px;
  border-radius: 10px;
}

.openModal:hover {
  background-color: rgb(67, 67, 156);
  transform: scale(1.1);
}

.closed {
  display: none; 
}

.modal-content {
  position: fixed;
  top: 40%;
  left: 30%;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;

  background-color: white;
  box-shadow: 2px 4px 24px black;
  
  border-radius: 12px;
  padding: 1.5rem 2rem;
  width: 40%;
  max-height: 50vh;
  overflow-y: auto;
}

.close {
  cursor: pointer;
  background: #f34e5c;
  color: white;
  padding: 6px 12px;
  border-radius: 8px;
  font-size: 0.9rem;
  width: 80px;
  text-align: center;
}

.close:hover {
  background: #d42334;
}

