footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: rgb(40, 42, 49);
    color: white; 
}

footer nav {
  display: flex;
  gap: 15px;
}

footer img {
    width: 35px;
    border-radius: 10px;
}
