footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10%;
    padding: 2.5%;
    background-color: rgb(51, 51, 51);
    color: white; 
}

footer nav {
  display: flex;
  gap: 15px;
}

footer img {
    width: 35px;
    border-radius: 10px;
}
