footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: #0c0a18;
    color: white; 
}

footer nav {
  display: flex;
  gap: 15px;
}

footer img {
    width: 25px;
    border-radius: 8px;
}
