@import "./partials/footer.css";

:root {
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* not sure where to put the search button so I just placed it at the end. I'll place it somewhere after the other parts of the webpages are done */
header {
  display: flex;
  justify-content: space-between;
}

header img {
    width: 30px;
    border-radius: 10px;
}

.search-button {
  margin-right: 20px;
}

.search-button form {
  position: relative;
  display: flex;
  flex-direction: column;
}

.search-button input {
  position: absolute;
  top: 100%;
  right: 0;
  width: 0;               
  opacity: 0;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: width 0.3s ease, opacity 0.3s ease;

}.search-button form:hover input,
.search-button button:hover + input {
  width: 250px;     
  height: 50px;    
  opacity: 1;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

button:hover, .plan-button img:hover, .menu img:hover {
  transform: scale(1.1);
}



@media screen and (max-width:) {
}

.week-display {
  margin: 20px;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.days-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 20px;
  border: 2px solid #ccc;
  border-radius: 10px;
  width: 90%;
  height: 500px;
}

.top-bar {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #95c3fe;
  padding: 10px 0;
  border-bottom: 2px solid #ccc;
  color: black;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 20px;
}

.site-title {
  margin-left: 20px;
  font-size: 24px;
}

.days-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}