@import "./partials/footer.css";

:root {
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;

  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
}

header a {
  text-decoration: none;
  color: inherit;
}

.site-title a:hover {
  font-size: 26px;
  transition: font-size 0.2s ease;
}

header img {
  width: 30px;
  border-radius: 10px;
}

#menu-button {
  margin-right: 20px;
}

#menu-button img {
  width: 40px;
}

#side-menu {
  position: fixed;
  top: 65px;
  right: 0px;
  width: 200px;
  height: 100vh;
  background-color: rgb(56, 56, 66);
  transition: left 0.3s ease;
  padding-top: 60px;
  z-index: 1000;
  border-top: 3px solid #0c0a18;

  transform: translateX(100%);
  transition: transform 0.3s ease;
}

#side-menu.active {
  transform: translateX(0);
}

#side-menu ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;

  font-size: 20px;
}

#side-menu ul li {
  margin: 20px 0;
  text-align: center;
  color: rgb(240, 240, 240);
}

#side-menu ul li a {
  margin: 20px 0;
  text-align: center;
  padding: 10px 30px 10px 30px;
  border-radius: 20px;
}

#side-menu ul li a:hover {
  background-color: rgb(83, 83, 83);
}

#menu-button form {
  position: relative;
  display: flex;
  flex-direction: column;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

.week-display a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: 600;
  padding: 10px 30px 10px 30px;
  background-color: rgb(52, 211, 137);
  border-radius: 15px;
  box-shadow: 2px 3px 12px rgba(0, 0, 0, 0.15);
}

.plan-button img:hover,
#menu-button:hover {
  transform: scale(1.05);
}

.week-display a:hover {
    background-color: rgb(0, 146, 78);
    transform: scale(1.05);
    
}

.week-display h1 {
  margin-top: 1%;
  margin-bottom: 2%;
  color: rgb(240, 240, 240);
  text-shadow: 1px 1px 12px rgb(155, 155, 155);
}

main {
    padding: 20px 20px 40px 20px;
    background-image: linear-gradient(black, rgb(1, 1, 44));
}

.week-display {
  padding: 40px;
  border-radius: 15px;
  /* border: 2px solid #ccc; */
  /* background-color: rgb(83, 87, 99); */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.days-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 10px;
  width: 100%;
  margin: 10px;
  border: 2px solid #ccc;
  border-radius: 10px;
  background-color: rgb(236, 236, 236);
  box-shadow: 2px 2px 12px rgb(31, 31, 31);

  height: auto;
  min-height: 650px;
}

.days-container h3 {
  font-size: 25px;
}

.days-container p {
  font-weight: 600;
  color: rgb(29, 69, 129);
}

.day-summary {
  margin-top: 10%;
  margin-bottom: 10%;
  text-align: center;
}

.addedExercise {
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.days-container img {
  width: 15px;
  height: auto;
}

.days-container li {
  list-style: none;
}

.days-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  min-height: 700px;
}

.top-bar {
  width: 100%;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #0c0a18;
  padding: 10px 0;
  /* border-bottom: 2px solid #ccc; */
  color: black;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.site-title {
  margin-left: 20px;
  font-size: 24px;
  color: rgb(240, 240, 240);
}

h3 {
  text-align: center;
}

.delete-btn {
    background-color: rgb(238, 131, 131);
    padding: 3px;
    border-radius: 8px;
    color: rgb(240, 240, 240);
}

.delete-btn:hover {
  background-color: rgb(233, 46, 46);
  transform: scale(1.1);
}

@media screen and (max-width: 1124px) {

  .days-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .days-container {
    margin-bottom: 50px;
    max-width: 400px;
  }  

}

