@import "./partials/footer.css";

:root {
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
}

header a {
  text-decoration: none;
  color: inherit;
}

header a:hover {
  font-size: 26px;
  transition: font-size 0.3s ease;
}

header img {
    width: 30px;
    border-radius: 10px;
}

.search-button {
  margin-right: 20px;
}

.search-button form {
  position: relative;
  display: flex;
  flex-direction: column;
}

.search-button input {
  position: absolute;
  top: 100%;
  right: 0;
  width: 0;               
  opacity: 0;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: width 0.3s ease, opacity 0.3s ease;

}.search-button form:hover input,
.search-button button:hover + input {
  width: 250px;     
  height: 50px;    
  opacity: 1;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

button:hover, .plan-button img:hover, .menu img:hover {
  transform: scale(1.1);
}

.week-display {
  margin: 20px;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.days-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 20px;
  border: 2px solid #ccc;
  border-radius: 10px;
  width: 90%;
  height: 500px;
}

.top-bar {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #95c3fe;
  padding: 10px 0;
  border-bottom: 2px solid #ccc;
  color: black;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 20px;
}

.site-title {
  margin-left: 20px;
  font-size: 24px;
}

.days-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#searchForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h3 {
  text-align: center;
}

#searchBtn {
  border: 2px solid #ccc;
  padding: 10px 20px;
  background-color: #95c3fe;
  color: black;
  border-radius: 5px;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin-top: 20px;
}

#exerciseResults {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
} 

.exercise-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  background-color: #f3f9ff;
  width: 50%;
}

.exercise-card p {
  margin-top: 1%;
}

.exercise-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transform: scale(1.02);
  transition: transform 0.2s ease;
}

@media screen and (max-width) {
}